# Node modules directory
node_modules/

# Logs
*.log

# Environment variables
.env

# npm package lock file
package-lock.json

# macOS system files
.DS_Store

# IDE settings
.vscode/

# Windows system files
Thumbs.db
